:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #faf4ea;
    --color-brand-light: #819b57;
    --color-brand-dark: #465929;
}
/* Base styles */
body {
    color: var(--color-primary-dark);
}
ul {
    list-style-type: none;
}
/* Button */
.button {
    border: 2px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
    border-radius: 8px;
    color: var(--color-primary-light);
    cursor: pointer;
}
.button:hover {
    border: 2px solid var(--color-brand-dark);
    background-color: transparent;
    border-radius: 8px;
    color: var(--color-primary-dark);
}
/* Link */
.link > a {
    color: var(--color-primary-light);
}
.link > a:hover {
    color: var(--color-brand-light);
}
/* Hero section */
.hero-title {
    color: var(--color-primary-light);
}
.hero-title .accent {
    color: var(--color-brand-light);
}
/* Advantages section */
.advatages_list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}
.section_title .accent{
    color: var(--color-brand-dark);
}